<h1>Editing Transactions History</h1>

<%= render 'form', transactions_history: @transactions_history %>

<%= link_to 'Show', @transactions_history %> |
<%= link_to 'Back', transactions_histories_path %>
