<div class="navbar">
  <div class="nav_items">
    <%= link_to 'Dashboard', root_path %>
    <%= link_to 'Add transaction', new_transaction_path %>
    <%= link_to 'Transaction history', transactions_path %>
  </div>
</div>
