<div class="dashboard_container">
  <div>
    <h1>Creating new transactions the easy way</h1>
    <p>This simple online banking application will let you create new transactions and view earlier created transactions. Before a transaction can be saved it will be checked if it adheres to all specification for a transaction</p>
    <h3>Mandatory fields for a transaction</h3>
    <ul>
      <li>
        Date (either current or future date)
      </li>
      <li>
        Bank account (must be valid IBAN)
      </li>
      <li>
        Contra account (must be valid IBAN)
      </li>
      <li>
        Contra account owner
      </li>
      <li>
        Amount
      </li>
      <li>
        Currency (EUR or USD)
      </li>
      <li>
        Funding type (CREDIT or DEBIT)
      </li>
    </ul>
  </div>
</div>
